{% extends "base.html" %}

{% block main %}

<style type="text/css">
#report_game {
	margin: 3em;
	position: relative;
	left: 0%;
}

#report_game td, th{
	text-align: center;
}

#report_game table{
	width: 100%;
}

#rating {
	margin: 3em;
	position: relative;
	clear: right;
	left: 0%;
}

#report_game td {
	padding-left:1em;
	padding-right:1em;
}

#rating td{
	padding-left:1em;
	padding-right:1em;
}

#statisticsWords {
	margin: 3em;
}

#ratingPairUsers{
	margin: 3em;
}

#ratingPairUsers table{
	width: 100%;
}

#statisticsWords td, th{
	text-align: center;
	width: 16.6%;
}

.class_table table{
	border-collapse:collapse;
}
.class_table table, th, td{
	border: 1px solid black;
	text-align: center;
}

h3{
	text-align: center;
	font-size: 100%;
	text-decoration:none; 
	border-bottom:#B22222 1px dashed;
	color:	#B22222;
}

.hide_div{
	height: 0;
	visibility: hidden;
}

.button_sort{
	background-color: transparent; 
    border-radius: 5px;
    margin-right: 1em;
}

.img_sort{
	height: 1em;
	width: 1em;
}

</style>

<script>

	function showHide(nameId){
		divstyle = document.getElementById(nameId).style.visibility; 
        if (divstyle.toLowerCase() == "visible") { 
            document.getElementById(nameId).style.visibility = "hidden"; 
            document.getElementById(nameId).style.height = 0;
        } 
        else { 
            document.getElementById(nameId).style.visibility = "visible"; 
            document.getElementById(nameId).style.height = "auto";
        } 
	}

	function sort(nameTable, cmp, startRow){
		t = Array.prototype.slice.call(document.getElementById(nameTable).tBodies[0].rows, 0);
		t2 = t.slice(startRow, t.length).sort(cmp.compare);
		t2_clone = new Array(t2.length);
		for(i = 0; i < t2.length; i++){
			t2_clone[i] = new Array(t2[i].cells.length)
			for(j = 0; j < t2[i].cells.length; j++){
				t2_clone[i][j] = t2[i].cells[j].innerHTML;
			}
		}
		for(i = startRow; i < t.length; i++){
			for(j = 0; j < t[i].cells.length; j++)
			{
				document.getElementById(nameTable).tBodies[0].rows[i].cells[j].innerHTML = t2_clone[i-startRow][j];
			}
		}	
	}

	function temp(w) {
    	this.type = w;
    	this.getInfo = function (a, b ) {return parseInt(a.cells[w].innerHTML) < parseInt(b.cells[w].innerHTML);} 
	}

	function Comparator(col, reverse) {
		this.col = col; 
		this.reverse = reverse; 
        this.compare  = function(a, b) {
        	if (!reverse)
        		return parseInt(a.cells[col].innerHTML) - parseInt(b.cells[col].innerHTML);
        	else
        		return parseInt(b.cells[col].innerHTML) - parseInt(a.cells[col].innerHTML);
    	}
	}

	function ComparatorString(col, reverse) { 
        this.compare  = function(a, b) {
        	if (!reverse) {
        		if(a.cells[col].innerHTML < b.cells[col].innerHTML)
        			return 1;
        		else
        			return -1;
        	} else {
        		if(b.cells[col].innerHTML < a.cells[col].innerHTML)
        			return 1;
        		else{
        			return -1;
        		}
        	}
    	}
	}

</script>



<p id = "history_game">
	<h1> История игры "{{game.name}}"  </h1>
	<div id = "rating" class = "class_table">
		{% if rating %}
			<h3 onclick="showHide('table_rating');"> Таблица результатов игроков </h3>
			<div id="table_rating" class = "hide_div">
				<table border="1" id = "table_rating_inner">
				<tr>
					<th> Место <br  />
						<button name="up" class = "button_sort" onclick="sort('table_rating_inner', new Comparator(0, false), 1);"> <img src="/media/up.jpg" class="img_sort"/> </button>
						<button name="down" class = "button_sort" onclick="sort('table_rating_inner', new Comparator(0, true) , 1);"> <img src="/media/down.png" class="img_sort"/> </button>
					</th> 
					<th> Игрок <br />
						<button name="up" class = "button_sort" onclick="sort('table_rating_inner', new ComparatorString(1, false), 1);"> <img src="/media/up.jpg" class="img_sort"/> </button>
						<button name="down" class = "button_sort" onclick="sort('table_rating_inner', new ComparatorString(1, true) , 1);"> <img src="/media/down.png" class="img_sort"/> </button>
					</th>
					 <th> Очки <br />
					 	<button name="up" class = "button_sort" onclick="sort('table_rating_inner', new Comparator(2, false), 1);"> <img src="/media/up.jpg" class="img_sort"/> </button>
						<button name="down" class = "button_sort" onclick="sort('table_rating_inner', new Comparator(2, true) , 1);"> <img src="/media/down.png" class="img_sort"/> </button>
					 </th>
					  <th> Очки в основное время <br /> 
						<button name="up" class = "button_sort" onclick="sort('table_rating_inner', new Comparator(3, false), 1);"> <img src="/media/up.jpg" class="img_sort"/> </button>
						<button name="down" class = "button_sort" onclick="sort('table_rating_inner', new Comparator(3, true) , 1);"> <img src="/media/down.png" class="img_sort"/> </button>
					  </th> 
					   <th> Очки в дополнительное время <br />
						<button name="up" class = "button_sort" onclick="sort('table_rating_inner', new Comparator(4, false), 1);"> <img src="/media/up.jpg" class="img_sort"/> </button>
						<button name="down" class = "button_sort" onclick="sort('table_rating_inner', new Comparator(4, true) , 1);"> <img src="/media/down.png" class="img_sort"/> </button>
					   </th>
					<th> Сколько раундов сыграно <br />
						<button name="up" class = "button_sort" onclick="sort('table_rating_inner', new Comparator(5, false), 1);"> <img src="/media/up.jpg" class="img_sort"/> </button>
						<button name="down" class = "button_sort" onclick="sort('table_rating_inner', new Comparator(5, true) , 1);"> <img src="/media/down.png" class="img_sort"/> </button>
					   

					</th>
				</tr>
				{% for id in rating %}
				<tr>
				  <td>{{id.0}}</td> <td>{{id.1.0.get_full_name}}</td> <td> {{id.1.1}}</td> <td> {{id.1.2}} </td> <td> {{id.1.3}}</td>
				  <td> {{id.1.4}} </td>
				</tr>
				{% endfor %}
				</table>
			</div>
		{% endif %}
	</div>
	<div id = "ratingPairUsers" class = "class_table">
		{% if ratingPairUsers %}
			<h3 onclick="showHide('table_pair_users');" > Результаты игроков по парам </h3>
			<div id="table_pair_users" class = "hide_div">			
				<table id = "table_pair_users_inner">
					<tr>
						<th> Место <br>
						<button name="up" class = "button_sort" onclick="sort('table_pair_users_inner', new Comparator(0, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
						<button name="down" class = "button_sort" onclick="sort('table_pair_users_inner', new Comparator(0, true), 1);"> <img src="/media/down.png" class="img_sort"/> </button>
						</th> 
						<th> Игрок 1 <br />
						<button name="up" class = "button_sort" onclick="sort('table_pair_users_inner', new ComparatorString(1, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
						<button name="down" class = "button_sort" onclick="sort('table_pair_users_inner', new ComparatorString(1, true), 1 );"> <img src="/media/down.png" class="img_sort"/> </button>
						</th> <th> Игрок 2 <br />
						<button name="up" class = "button_sort" onclick="sort('table_pair_users_inner', new ComparatorString(2, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
						<button name="down" class = "button_sort" onclick="sort('table_pair_users_inner', new ComparatorString(2, true), 1 );"> <img src="/media/down.png" class="img_sort"/> </button>
						</th> 
						<th> Очки -> <br />
						<button name="up" class = "button_sort" onclick="sort('table_pair_users_inner', new Comparator(3, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
						<button name="down" class = "button_sort" onclick="sort('table_pair_users_inner', new Comparator(3, true), 1 );"> <img src="/media/down.png" class="img_sort"/> </button>
						</th> <th> Очки <- <br />
						<button name="up" class = "button_sort" onclick="sort('table_pair_users_inner', new Comparator(4, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
						<button name="down" class = "button_sort" onclick="sort('table_pair_users_inner', new Comparator(4, true), 1 );"> <img src="/media/down.png" class="img_sort"/> </button>
						</th>
					</tr>
					{% for line in ratingPairUsers %}
					<tr>
						<td> {{line.0}} </td>
						<td> {{line.1.0.get_full_name}} </td>
						<td> {{line.1.1.get_full_name}} </td>
						<td> {{line.1.2}} </td>
						<td> {{line.1.3}} </td>
					</tr>
					{% endfor %}
				</table>
			</div>
		{% endif %}
	</div>

	<div id="report_game" class = "class_table">
		{% if reportGame %}
			<h3 onclick="showHide('table_report_game');" > Главная статистика по словам </h3>
			<div id="table_report_game" class = "hide_div">
				<table border="1" id = "table_report_game_inner">
					<tr>
						<th> Слово <br />
					<button name="up" class = "button_sort" onclick="sort('table_report_game_inner', new ComparatorString(0, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
					<button name="down" class = "button_sort" onclick="sort('table_report_game_inner', new ComparatorString(0, true), 1);"> <img src="/media/down.png" class="img_sort"/> </button>

					</th> <th> Кто объяснял <br />
					<button name="up" class = "button_sort" onclick="sort('table_report_game_inner', new ComparatorString(1, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
					<button name="down" class = "button_sort" onclick="sort('table_report_game_inner', new ComparatorString(1, true), 1);"> <img src="/media/down.png" class="img_sort"/> </button>

					 </th> <th> Кому объяснял <br />

					 <button name="up" class = "button_sort" onclick="sort('table_report_game_inner', new ComparatorString(2, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
					<button name="down" class = "button_sort" onclick="sort('table_report_game_inner', new ComparatorString(2, true), 1);"> <img src="/media/down.png" class="img_sort"/> </button>

					</th> <th> Объяснил?</th>

					{% for report in reportGame %}
					 <tr>
					 <td> {{report.word.word}} </td>
					 <td> {{report.userFrom.get_full_name}} </td>
					 <td> {{report.userTo.get_full_name}} </td>
					 <td> 
					 	  {% if  report.outcome == 1 %}
					 	  	да, основное время
					 	  {% elif report.outcome == 2 %}
					 	  	да, доп. время
					 	  {% elif report.outcome == 0 %}
					 	  	нет
					 	  {% elif report.outcome == -1 %}
					 	  	брак
					 	  {% endif %}

					 </td>
					</tr>
					{% endfor %}
				</table>
			</div>
		{% endif %}	
	</div>

	<div id = "statisticsWords" class = "class_table">
		{% if statisticsWords %}
			<h3 onclick="showHide('table_statistics_words');" > Подробная статистика по словам </h3>
			<div id="table_statistics_words" class = "hide_div">			
				<table id = "table_statistics_words_inner">
					<tr>
					<th> Слово  <br>
					<button name="up" class = "button_sort" onclick="sort('table_statistics_words_inner', new ComparatorString(0, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
					<button name="down" class = "button_sort" onclick="sort('table_statistics_words_inner', new ComparatorString(0, true), 1);"> <img src="/media/down.png" class="img_sort"/> </button>
						
					</th> <th> Сколько раз объясняли <br /> 
					<button name="up" class = "button_sort" onclick="sort('table_statistics_words_inner', new Comparator(1, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
					<button name="down" class = "button_sort" onclick="sort('table_statistics_words_inner', new Comparator(1, true), 1);"> <img src="/media/down.png" class="img_sort"/> </button>

					</th> <th> Суммарное время объяснения <br />
					<button name="up" class = "button_sort" onclick="sort('table_statistics_words_inner', new Comparator(2, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
					<button name="down" class = "button_sort" onclick="sort('table_statistics_words_inner', new Comparator(2, true), 1);"> <img src="/media/down.png" class="img_sort"/> </button>
					
					</th> <th>  Время на последнее объяснение <br /> 
					<button name="up" class = "button_sort" onclick="sort('table_statistics_words_inner', new Comparator(3, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
					<button name="down" class = "button_sort" onclick="sort('table_statistics_words_inner', new Comparator(3, true), 1);"> <img src="/media/down.png" class="img_sort"/> </button>
					
				    </th> <th> Кто объяснил  <br />
				    <button name="up" class = "button_sort" onclick="sort('table_statistics_words_inner', new ComparatorString(4, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
					<button name="down" class = "button_sort" onclick="sort('table_statistics_words_inner', new ComparatorString(4, true), 1);"> <img src="/media/down.png" class="img_sort"/> </button>

					</th> <th> Кто отгадал  <br />

					<button name="up" class = "button_sort" onclick="sort('table_statistics_words_inner', new ComparatorString(5, false), 1 );"> <img src="/media/up.jpg" class="img_sort"/> </button>
					<button name="down" class = "button_sort" onclick="sort('table_statistics_words_inner', new ComparatorString(5, true), 1);"> <img src="/media/down.png" class="img_sort"/> </button>

					</th>
						</tr>
					{% for line in statisticsWords %}
					<tr>
					<td> {{line.0}}</td> <td> {{line.1.numAttempts}}</td>
					<td> {{line.1.duration}} </td> <td> {{line.1.latestDuration}} </td>
					<td> {{line.1.latestUserFrom.get_full_name}} </td>
					<td> {{line.1.latestUserTo.get_full_name}} </td>
					</tr>
					{% endfor%}
				</table>
			</div>
		{% endif %}
	</div>
</p>
{% endblock %}