{% extends "base.html" %}

{% block main %}

<style type="text/css">
#no_finished_games{
	text-align: left;
	position: relative;
	width: 41%;
	margin: 1em;
	padding-left: 2em;
	padding-right: 1em; 
	float: left;
}

#finished_games{
	text-align: left;
	position: relative;
	width: 41%;
	margin: 1em;
	padding-left: 1em;
	padding-right: 2em;
	float: left; 
}
.status_games caption{
	font-size: 150%;
}


</style>

<p>
	<div id="no_finished_games">
		<table class = "status_games">
		<caption> Созданные, но не сыгранные игры  </caption>
		<tr>
		<th> Название игры </th> <th> Номер игры </th> <th> Пароль </th>
		</tr>
		{%for game in gamesNoFinished %}
		<tr>
			<td> {{game.name}} </td> <td> {{game.id}}</td><td> {{game.password}} </td>
		</tr>
		{%endfor%}
		</table>	
	</div>
	<div id = "finished_games">
		<table class = "status_games">
		<caption>  Завершенные игры </caption>
		<tr>
		<th> Название игры </th> <th> Номер игры </th> <th> Пароль </th>
		</tr>
		{%for game in gamesFinished %}
		<tr>
			<td> {{game.name}} </td> <td> {{game.id}}</td><td> {{game.password}} </td>
		</tr>
		{%endfor%}
		</table>	
	</div>
</p>
{% endblock %}